<h1>Crud App</h1>
<p><a href="/additem" class="addbtn">Add item</a> </p>
<table>
    <thead>
        <tr>
            <td>#</td>
            <td>Name</td>
            <td>Description</td>
            <td>Update</td>
            <td>Delete</td>

        </tr>
    </thead>
    <tbody>
{{#each rows}}
    <tr>
        <td>{{this.ID}}</td>
        <td>{{this.NAME1}}</td>
        <td>{{this.DESCRIPTION1}}</td>
        <td><a class="update" href="/updateitem/{{this.ID}}">Update</a></td>
        <td><a onclick="return confirm('Are you sure?')" class="delete" href="/deleteitem/{{this.ID}}">Delete</a></td>
    </tr>
{{/each}}
    </tbody>
</table>